// subscribe input

/***************************   rating   ***********************************/
.b-rating {
  padding: 0;

  .b-rating-star {
    flex-grow: 0 !important;
    padding: 0 0.15em;
  }
}

/***************************   breadcrumb   ***********************************/
.breadcrumb {
  background-color: transparent;
  align-items: center;
  padding: 0.75rem 0rem;

  .breadcrumb-item {
    display: flex;
    align-items: center;

    a {
      transition: $default-transition;
      color: #8a8a8a;
      font-size: 1.01rem;

      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #000;
  content: '>';
  font-size: 25px;
}

.breadcrumb-item.active {
  color: #000;
}

/****************************   carousel   ***********************************/
.slick-list {
  overflow: initial !important;
  overflow-x: clip !important;
}

/****************************   product-cart-btn   ***********************************/
.product-cart-btn {
  display: block;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 3px 1.2rem;
  font-size: $default-font-size-lg;
  font-weight: 900;
  background-color: $primary;

  &:focus {
    box-shadow: 0 0 0 0.2rem #107cc075;
  }

  &:active {
    background-color: $primary;
    box-shadow: 0 0 0 0.2rem #107cc075;
    border: 1px solid transparent;
  }
}

/****************************   form-checkout and form-adress-Profile   ***********************************/
//? General
.title {
  color: $gray-dark;
}

form.options {
  .address-radio {
    position: unset;
  }

  input {
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer;

    &:checked {
      ~label::before {
        border-color: $main-color;
        background-color: $main-color;
      }
    }
  }

  label {
    &::before {
      border: 1.5px solid #e3e3e3;
    }
  }
}

.option {
  border-radius: $default-radios;
  border: solid 1px #e3e3e3;
  transition: $default-transition;
  overflow: hidden;
  height: 5rem;

  &.address {
    height: fit-content;
  }

  &.checked {
    box-shadow: 0px 0px 7px rgba(16, 124, 192, 0.4);
    border-color: $main-color;
  }

  .header {
    margin-inline-start: 0.5rem;

    .info {
      color: #606266;

      img {
        max-height: 1.8rem;
      }
    }
  }
}

.form {
  position: relative;
  z-index: 1;

  .form-input {
    margin-bottom: 1rem;

    label {
      color: #8a8a8a;
      margin-bottom: 0.25rem;
    }

    input,
    select,
    textarea {
      color: $gray-dark;
      border: 2px solid #f3f1f1;
      padding-top: 0.625rem;
      resize: none;
      border-radius: $default-radios;

      &::placeholder {
        color: #cccccc;
      }

      &:focus {
        border-color: $main-color;
        box-shadow: none;
      }
    }

    input,
    select {
      color: $gray-dark;
      height: 2.8rem;
    }
  }

  .compine-input {
    border: 2px solid #f3f1f1;
    border-radius: $default-radios;
    padding-inline-end: 0.1rem;

    input {
      border: none;
    }

    .card-images {
      color: #000;

      img {
        height: 2.25rem;
        width: 4rem;
        margin: 0 0.1rem;
        object-fit: contain;
      }
    }
  }

  .expire-input {
    select {
      &:first-child {
        margin-inline-start: 0;
      }

      &:last-child {
        margin-inline-end: 0;
      }

      margin: 0 1rem;
    }
  }
}

//  Heart Component

.adjuct-heart-down {
  padding-top: 5px;

  :hover {
    transform: scale(1);
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s ease-in-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.shopping-cart-icon {
  width: 20px;
  height: 15px;
}