// Colors Variables
$main-color: #107cc0;
$primary: #107cc0;
$second-color: #ffd008;
$gray-dark: #231f20;
$gray: #979797;
$previous-price-gray: #979797;
$red-heart: #e02020;
$yellow-stars: #f7b500;
$green-flat: #51b163;
$sub-category-card-background: #d2e2ff;
$sub-category-card-font: #3a1008;
$default-transition: all ease-out 0.3s;
$default-radios: 0.5rem;
$default-font-family: 'Nexa';
$default-font-size: 12px;
$default-font-size-lg: 14px;
$default-font-size-xl: 16px;
$default-font-weight: normal;
$default-padding: 1rem;
$default-margin: 1rem;
$default-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
$font-weight-600: 600;
$primary-shadow: 0 0 0 0.2rem rgba($main-color, 0.5);
$cart-background-color: #f8f8f8;
$x-small-screen: 576px;
$small-screen: 767px;
$medium-screen: 991px;
$min-height: 470px;
